p.modalText{
    max-width:300px;
    word-wrap:break-word;
}

.Modal {
    position: absolute;
    max-width:1500px;
    height:50%;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border-color: rgb(23, 187, 165);
    border-radius: 30px;
    border-style: solid;
    border-color: #856857;
    background: #F6F2EF;
  }

  .Modal2 {
    position: absolute;
    max-width: 1500px;
    height:25%;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    text-align: left;
    align-items: center;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border-style: solid;
    border-color: #856857;
    max-width: 420px;
    background: #F6F2EF;
  }

  .Overlay {
    position: fixed;
    /* Change these attributes if you don't want to dim the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Color & Transparency option */
    background-color: rgba(68, 84, 221, 0.5); 
  }

  .Overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }


.Modal2DivCSS{
    color: green;
    text-align: center;
}